numpy
cmake
cython
#torch>=1.7
opencv_python
loguru
scikit-image
tqdm
#torchvision>=0.10.0
Pillow
pybind11
thop
ninja
tabulate
tensorboard
#lap , but if install lap doesn't work -> pip install git+https://github.com/gatagat/lap@master --no-binary lap
motmetrics
filterpy
h5py

# verified versions
onnx
onnxruntime
onnx-simplifier==0.3.5
